<div class="main">
  <div class="container">
    <h2>Movies</h2>
    <% @movies.each do |movie| %>
      <div class="movie">
        <h3><%= link_to movie.title, movie_path(movie) %></h3>
      </div>
    <% end %>
    <div><%= link_to 'Add New Movie', new_movie_path %></div>
  </div>
</div>
